{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}
{% import "macros/actions.html.twig" as actions %}

{% set columns = {
    'alias': 'alwaysVisible',
    'username': 'hidden-xs',
    'email': 'hidden-xs hidden-sm',
    'customer': ''
} %}

{% set tableName = 'readonly_user_admin' %}


{% block page_title %}{{ 'readonlycustomer.admin.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'readonlycustomer.admin.subtitle'|trans }}{% endblock %}

{% block main_before %}
    {{ tables.data_table_column_modal(tableName, columns) }}
{% endblock %}

{% block main %}
   <script>
     function readOnlyCustomerChanged(entryId) {
	var url="{{ url('readonly_access_admin_changecustomer') }}";
	var dropDownId="readOnlyCustomerDD_"+entryId;
	var dropDownElement = document.getElementById(dropDownId);
	if (dropDownElement) {
		var val=dropDownElement.value;
		url=url+"/"+entryId+"/"+val;
		window.location=url;
	}
     }
   </script>

    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% else %}
        {{ tables.data_table_header(tableName, columns, false, 'kimai.userUpdate') }}

        {% for entry in entries %}
            <tr>
                <td>{{ widgets.username(entry) }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'username') }}">{{ entry.username }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'email') }}">{{ entry.email }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'customer') }}">
                    {% set readOnlyCustomer = '' %}
                    {% for preference in entry.preferences %}
                        {% if preference.name == 'readOnlyAccessCustomer' %}
                            {% set readOnlyCustomer = preference.value %}
                        {% endif %}
                    {% endfor %}
                    <select size="1" id="readOnlyCustomerDD_{{ entry.id }}" onchange="readOnlyCustomerChanged({{ entry.id }})" >
                        <option value=''> -- {{ 'readonlycustomer.admin.userIsDisabled'|trans }} -- </option>
                        {% for cust in customers %}
                            <option value="{{ cust.id }}" {% if cust.id == readOnlyCustomer %} selected {% endif %} >{{ cust.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}

        {{ tables.data_table_footer(entries, 'readonly_access_admin_paginated') }}
    {% endif %}

{% endblock %}
