{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}
{% import "macros/actions.html.twig" as actions %}

{% set columns = {
    'alias': 'alwaysVisible',
    'username': 'hidden-xs',
    'email': 'hidden-xs hidden-sm',
    'isReadonlyEnabled': 'hidden-xs',
    'customer': ''
} %}

{% set tableName = 'readonly_user_admin' %}


{% block page_title %}{{ 'Read Only Access'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'ReadOnlyAccess.subtitle'|trans }}{% endblock %}

{% block main_before %}
    {{ tables.data_table_column_modal(tableName, columns) }}
{% endblock %}

{% block main %}
   <script>
     function readOnlyCustomerChanged(entryId) {
         alert("Changed on "+entryId);
     }
   </script>

    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% else %}
        {{ tables.data_table_header(tableName, columns, false, 'kimai.userUpdate') }}

        {% for entry in entries %}
            <tr>
                <td>{{ widgets.username(entry) }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'username') }}">{{ entry.username }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'email') }}">{{ entry.email }}</td>
                <td class="open-edit alternative-link {{ tables.data_table_column_class(tableName, columns, 'isReadonlyEnabled') }}" data-href="{{ path('readonly_access_admin_togglepermission', {'user': entry.id,'page':page}) }}">
                    {% set hasReadonlyRole = false %}
                    {% for role in entry.roles %}
                        {% if role == 'READONLY_USER' %}
                            {% set hasReadonlyRole = true %}
                        {% endif %}
                    {% endfor %}
                    {{ widgets.label_visible(hasReadonlyRole) }}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'customer') }}">
                    {% set readOnlyCustomer = '' %}
                    {% for preference in entry.preferences %}
                        {% if preference.name == 'readOnlyAccessCustomer' %}
                            {% set readOnlyCustomer = preference.value %}
                        {% endif %}
                    {% endfor %}
                    <select size="1" id="readOnlyCustomerDD_{{ entry.id }}" onchange="readOnlyCustomerChanged({{ entry.id }})">
                        {% for cust in customers %}
                            <option value="{{ cust.id }}" {% if cust.id == readOnlyCustomer %} selected {% endif %} >{{ cust.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}

        {{ tables.data_table_footer(entries, 'readonly_access_admin_paginated') }}
    {% endif %}

{% endblock %}
